<div id="heading" class="centered">
  <h1 id="logo"><a style="color:#67AF40;" href="./">ACNH.Directory</a></h1>
  <span id="sublogo">
    Your one-stop site for <i>Animal Crossing: New Horizons</i> resources
  </span>
  <br>
  <span id="sublogo">
    Brought to you by <a style="color:#67AF40;" target="_blank" href="https://nookipedia.com/wiki/Main_Page">Nookipedia</a>
  </span>
  <br>
  <span id="sublogo">
    Contribute on <a target="_blank" href="https://github.com/Nookipedia/acnh.directory">GitHub</a>
  </span>
</div>
<router-outlet></router-outlet>
<br><br>
<div id="footer" class="center">
  <div id="footer-top"></div>
  A <a target="_blank" href="https://nookipedia.com/wiki/Main_Page">Nookipedia</a> project
  <br>
  <a target="_blank" href="https://github.com/Nookipedia/acnh.directory">Source</a> (you can contribute!)
  <br>
  Built by <a target="_blank" href="https://www.kevinpayravi.com/">@KevinPayravi</a>
  <br><br>
  Animal Crossing is a registered trademark of Nintendo.
  <br>
  ACNH.Directory in no way claims ownership of any intellectual property associated with Animal Crossing.
  <br>
  ACNH.Directory is not responsible for the content on the listed external sites.
  <br>
  <a href="/privacy">Privacy Policy</a>
  <br><br>
</div>