<div class="box">
    <span>
        <p>
            <b>Last Update: 2020-10-04</b>
        </p>

        <p>
            By using our site, you consent to our privacy policy.
        </p>

        <p>
            Any external websites we link to have their own separate and independent privacy policies; we have no responsibility or control over how these websites conduct themselves.
        </p>
        
        <p>
            <b>What information do we collect?</b>
        </p>

        <p>
            ACNH.Directory is delivered through <a href="https://analytics.google.com/analytics/web/">Cloudflare</a>'s CDN, which includes basic privacy-friendly analytics.
            We also use <a href="https://analytics.google.com/">Google Analytics</a> to collect, monitor and analyze usage of ACNH.Directory.
            Google Analytics's privacy policy can be viewed <a href="https://policies.google.com/privacy">here</a>.
            This service is used to determine the popularity of certain content, and to better understand online activity.
            By accessing ACNH.Directory, you consent to the collection and use of your information by Google Analytics.
        </p>

        <p>
            <b>California Online Privacy Protection Act Compliance</b>
        </p>
        
        <p>
            We have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act.
            We therefore do not distribute your personal information to outside parties without your consent.
        </p>
        
        <p>
            <b>Childrens Online Privacy Protection Act Compliance</b>
        </p>
        
        <p>
            We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), as we do not collect any information from anyone under 13 years of age.
            Our website, products and services are all directed to people who are at least 13 years old or older.
        </p>
    </span>
</div>
